{% extends "mercatorio/base.html" %}

{% block title %}Pagina Inicial{% endblock %}

{% block navbar %}
    <span class="navbar-text">Mercatório</span>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header bg-dark text-white">
            Bem Vindo ao Mercatório!
        </div>
        <div class="card-body">
            <h5 class="card-title">Atualizações de certificações</h5>
            <p class="card-text">As certificações são atualizadas a cada 24 horas.</p>
            {% if certificates.count > 0 %}
                <code>Total de {{ certificates.count }} certificações.</code>
                <code>Ultima atualização foi {{ certificates.first.received_at }}</code>
            {% else %}
                <code>Não há certificações</code>
            {% endif %}
        </div>
    </div>
{% endblock %}